---
import BaseLayout from "../layouts/BaseLayout.astro"
---


<BaseLayout>
    <h1 class="text-center mb-4">Page doesn't exist</h1>
    <a href="/" class="nav-button block mx-auto">Back to home page</a>
</BaseLayout>