---
import BaseLayout from '../layouts/BaseLayout.astro';
import { motion } from 'framer-motion';
import { showHoverAnimation, removeHoverAnimation } from '../lib/windowAnimation';
import { FadeContainer, popUp } from '../lib/FramerMotionVariants';
import TechStackCards from '../components/TechStackCards.jsx';
---

<BaseLayout title="homepage" decription="homepage2">
  <h1 class="text-3xl font-bold dark:underline bg-primary">
    🧑‍🚀 Hello, my name is Jakub Jadczyk and im really tall guy :)
  </h1>
  <p></p>
  <p>I'm a full stack developer with several year of professional experience in web development</p>
  <p>If you need any help, visit my offert, maybe we can create something together</p>
  <p>
    Teaching somebody is the best way to gain knowledge, so i have my own blog. Don't hesitate to
    visit it
  </p>
  <div>
    <h2>My tech stack</h2>
    <TechStackCards client:visible />
  </div>
  <div><h2>Recent projects</h2></div>

  <div><h2>Recent posts</h2></div>
</BaseLayout>
