---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { motion } from 'framer-motion';
import { showHoverAnimation, removeHoverAnimation } from '../lib/windowAnimation';
import { FadeContainer, popUp } from '../lib/FramerMotionVariants';
import TechStackCards from '../components/TechStackCards.jsx';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout title="homepage" decription="homepage2">
  <div class="grid gap-8">
    <div class="flex gap-8">
      <h1 class="text-3xl dark:underline grid gap-2 ">
        <span class="text-xs" >Im really tall guy</span>
        <span class="font-bold" > My name is Jakub Jadczyk. </span>
        <span class="text-sm">and im Fullstack developer</span>
      </h1>

      <div>here photo</div>
    </div>

    <div class="grid gap-8">
      <h2 class="text-center">My tech stack</h2>
      <TechStackCards client:visible />
    </div>

    <div class="grid gap-8">
      <h2 class="text-center">Recent posts</h2>
      <ul class="grid grid-cols-3 gap-4">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img width={720} height={360} src={post.data.heroImage} alt="" />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog" class="nav-button mx-auto">see all blog post</a>
    </div>
  </div>
</BaseLayout>
