---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import { motion } from 'framer-motion';
import { showHoverAnimation, removeHoverAnimation } from '../lib/windowAnimation';
import { FadeContainer, popUp } from '../lib/FramerMotionVariants';
import TechStackCards from '../components/TechStackCards.jsx';

const posts = (await getCollection('blog'))
  .sort((a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf())
  .slice(0, 3);
---

<BaseLayout title="homepage" decription="homepage2">
  <div class="grid gap-8">
    <div>
      <h1 class="text-3xl font-bold dark:underline bg-primary">
        🧑‍🚀 Hello, my name is Jakub Jadczyk and im really tall guy :)
      </h1>
      <p></p>
      <p>
        I'm a full stack developer with several year of professional experience in web development
      </p>
      <p>If you need any help, visit my offert, maybe we can create something together</p>
      <p>
        Teaching somebody is the best way to gain knowledge, so i have my own blog. Don't hesitate
        to visit it
      </p>
    </div>

    <div class="grid gap-8">
      <h2 class="text-center">My tech stack</h2>
      <TechStackCards client:visible />
    </div>

    <div class="grid gap-3">
      <h2 class="text-center">Recent posts</h2>
      <ul class="grid grid-cols-3 gap-4">
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <img width={720} height={360} src={post.data.heroImage} alt="" />
                <h4 class="title">{post.data.title}</h4>
                <p class="date">
                  <FormattedDate date={post.data.pubDate} />
                </p>
              </a>
            </li>
          ))
        }
      </ul>
      <a href="/blog">see all blog post</a>
    </div>
  </div>
</BaseLayout>
