---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeModeSwitcher from './ThemeModeSwitcher.astro';
---

<header class="bg-bg p-4 h-16">
  <nav class="flex items-center justify-between max-w-4xl mx-auto">
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/offert">Offert</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div>
      <ThemeModeSwitcher />
    </div>
  </nav>
</header>
