---
import HeaderLink from './HeaderLink.astro';
import ThemeModeSwitcher from './ThemeModeSwitcher.astro';
---

<header class="bg-bg p-4 h-16">
  <nav class="flex items-center justify-between max-w-4xl mx-auto">
    <h6><a href="/">JJ</a></h6>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <!-- <HeaderLink href="/offert">Offert</HeaderLink> -->
      <HeaderLink href="/blog">Blog</HeaderLink>
    </div>
    <div>
      <ThemeModeSwitcher />
    </div>
  </nav>
</header>
