---
import { Moon, Sun } from 'lucide-astro';
---

<script>
  const button = document.querySelector("[data-context='themeSwitcherButton']");

  button?.addEventListener('click', () => {
    const htmlElement = document.querySelector('html');
    const isDarkTheme = localStorage.getItem('theme') === 'dark';

    if (!isDarkTheme) {
      htmlElement?.setAttribute('data-theme', 'dark');
      localStorage.setItem('theme', 'dark');
    } else {
      htmlElement?.removeAttribute('data-theme');
      localStorage.setItem('theme', 'light');
    }
  });
</script>

<button data-context="themeSwitcherButton"
  ><Moon class="moon-icon" /> <Sun class="sun-icon" />
</button>

<style>
  :root[data-theme='dark'] .moon-icon {
    display: none;
  }

  .moon-icon {
    display: block;
  }

  :root[data-theme='dark'] .sun-icon {
    display: block;
  }

  .sun-icon {
    display: none;
  }
</style>
